@charset "UTF-8";


/** Rodapé **/
footer{
    width: 100%;
    height: 35px;
    padding: 5px;
    background-color: rgb(221, 109, 3);
    display: flex;
    justify-content: space-between;
    position: fixed; /* fixar o footer */
    bottom: 0;/* colocar ele no final, 0 pixels da distancia da borda da tela */
}

footer .p  {
    color: #fff;
    font-size: 1.25em;
}

/* Botão Reset */
#btnReset {
    width: 48px;
    height: 48px;
    background-image: url("../img/limpar.png");
    border: none;
    cursor: pointer;
    margin-left: 10px;
}